<div class="header">
  <h2>Categorias</h2>

  <button class="btn-nova" (click)="abrirModal()">+ Nova Categoria</button>
</div>

<div class="barra-busca">
  <span class="icone-busca">🔍</span>

  <input type="text" [(ngModel)]="filtro" (input)="buscar()" placeholder="Buscar categoria..." />
</div>
<table class="tabela">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    @for (categoria of categorias; track categoria.id) {
      <tr>
        <td>{{ categoria.id }}</td>

        <td>{{ categoria.nome }}</td>

        <td>{{ categoria.descricao }}</td>

        <td>
          <button class="btn-acao editar" title="Editar categoria" (click)="editar(categoria)">
            ✏️
          </button>

          <button
            class="btn-acao excluir"
            title="Excluir categoria"
            (click)="excluir(categoria.id)"
          >
            🗑️
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
