<h2 mat-dialog-title>
  {{ categoria ? 'Editar Categoria' : 'Nova Categoria' }}
</h2>


<mat-dialog-content>

<form [formGroup]="form">

  <mat-form-field appearance="outline" class="campo">

    <mat-label>Nome</mat-label>

    <input 
      matInput 
      formControlName="nome"
      placeholder="Digite o nome">

    @if(form.get('nome')?.hasError('required')
        && form.get('nome')?.touched){

      <mat-error>
        Nome é obrigatório
      </mat-error>

    }

  </mat-form-field>



  <mat-form-field appearance="outline" class="campo">

    <mat-label>Descrição</mat-label>

    <textarea
      matInput
      formControlName="descricao"
      placeholder="Digite a descrição">
    </textarea>


  </mat-form-field>


</form>

</mat-dialog-content>



<mat-dialog-actions align="end">

  <button 
    mat-button
    (click)="cancelar()">
    Cancelar
  </button>


  <button
    mat-raised-button
    color="primary"
    (click)="salvar()">
    Salvar
  </button>


</mat-dialog-actions>